@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');
* {
    font-family: 'Noto Sans HK', sans-serif;
    text-align: center;
    box-sizing: border-box;
}
html, body {
    margin:0;
    padding:0;
}
.icon {
    right: 60px;
    display: block;
    top: 20px;
    z-index: 7;
    height: 25px;
    width: 25px;
    transition: transform 0.1s ease;
    position: fixed;
}
.stopscroll {
    overflow:hidden;
}
#close {
    display: none;
}
#sign {
    height: 80px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}
#sign2 {
    height: 25px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 5;
}
#nav {
    width: 100%;
    height: 165px;
    top:0;
    background-color: white;
    position: fixed;
    z-index: 5;
}
#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    display: none;
    z-index: 6;
}
#overlaytxt {
    position: relative;
    display: inline-block;
    top: 10%;
    font-size: 30px;
    text-align: center;
    background-color: rgb(0,0,0,0);
    text-decoration: none;
}
#overlaytxt a {
    color: white;
    text-decoration: none;
}
header {
    text-align: center;
    padding: 10px 0;
    background-color: rgb(255, 255, 255);
}
.current {
    text-decoration: underline;
}
ul.nav1 {
    list-style-type: none;
    padding: 0;
    position: fixed;
    top: 100px;
    color: black;
    width: 100%;
    display: block;
    transition: top 0.2s;
    z-index: 5;
    background-color: white;
    font-size: 15px;
}
li {
    display: inline-block;
    padding: 0 5%;
}
a {
    text-decoration: none;
}
li a {
    color: black;
}
#head {
    width: 55%;
    float: right;
    padding: 22% 15% 0 0;
    text-align: left;
    background-color: white;
}
#clear {
    clear: both;
}
@media screen and (min-width: 600px) {
    #menu {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    ul.nav1 {
        display: none;
    }
}