@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');
* {
    font-family: 'Noto Sans HK', sans-serif;
    box-sizing: border-box;
    text-align: center;
}
.icon {
    right: 60px;
    display: block;
    top: 20px;
    z-index: 8;
    height: 25px;
    width: 25px;
    transition: transform 0.1s ease;
    position: fixed;
}
#close {
    display: none;
}
#sign {
    height: 80px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}
#sign2 {
    height: 25px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 5;
}
#nav {
    width: 100%;
    height: 165px;
    top:0;
    background-color: white;
    position: fixed;
    z-index: 5;
}
#overlay {
    width: 100%;
    height: 100%;
    top:0;
    position: fixed;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    display: none;
    z-index: 8;
}
#overlaytxt {
    position: relative;
    display: inline-block;
    top: 10%;
    font-size: 4vh;
    text-align: center;
}
#overlaytxt a {
    color: white;
    text-decoration: none;
}
html, body {
    margin:0;
    padding:0;
}
.stopscroll {
    overflow:hidden;
}
header {
    background-color: white;
    text-align: center;
    padding: 5% 30%;
    color:black;
    margin: 150px 0 0 0;
}
.current {
    text-decoration: underline;
}
ul.nav1 {
    list-style-type: none;
    padding: 0;
    position: fixed;
    top: 100px;
    color: black;
    width: 100%;
    display: block;
    transition: top 0.2s;
    z-index: 5;
    background-color: white;
}
li {
    display: inline-block;
    padding: 0 5%;
}
.navi {
    font-size: 15px;
}

li a {
    color:black;
}

a {
    text-decoration: none;
}
.stuffnav {
    width: 33.333333%;
    float: left;
    padding: 5px;
    position: relative;
    /**background-color: white;**/
}
.imgtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.imgcontain {
    overflow: hidden;
    background-color: white;
}
@media screen and (max-width: 600px) {
    .stuffnav {
        width: 100%;
    }
    ul.nav1 {
        display: none;
    }
}
@media screen and (min-width: 600px) {
    #menu {
        display: none;
    }
}
.imgcontain img {
    filter: brightness(70%);
    transition: transform 0.5s ease;
    width: 100%;
    margin: 0 0 -5px 0;
}
.cont{
    height: 1000px;
    background-color: rgb(255, 255, 255);
    margin: 100px 0 0 0;
}

.space {
    display: inline-block;
    height: 5px;
}